<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Location #<%= @location.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/locations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/locations/<%= @location.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit location
        </a>
      </div>

      <div class="col">
        <a href="/delete_location/<%= @location.id %>" class="btn btn-block btn-outline-secondary">
          Delete location
        </a>
      </div>
    </div>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @location.city %>
      </dd>

      <dt>
        Indooroutdoor
      </dt>
      <dd>
        <%= @location.indooroutdoor %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@location.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@location.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "location_templates/location_climbs" %>
  </div>
</div>
