<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Location #<%= @location.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/locations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link location start -->
      <div class="col">
        <a href="/locations/<%= @location.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit location
        </a>
      </div>
      <!-- Edit link location end -->

      <!-- Delete link location start -->
      <div class="col">
        <a href="/delete_location/<%= @location.id %>" class="btn btn-block btn-outline-secondary">
          Delete location
        </a>
      </div>
      <!-- Delete link location end -->
    </div>

    <dl>
      <dt>
        City
      </dt>
      <!-- Display city start -->
      <dd>
        <%= @location.city %>
      </dd>
      <!-- Display city end -->

      <dt>
        Indooroutdoor
      </dt>
      <!-- Display indooroutdoor start -->
      <dd>
        <%= @location.indooroutdoor %>
      </dd>
      <!-- Display indooroutdoor end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@location.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@location.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
