<% if @climb.errors.any? %>
  <% @climb.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit climb #<%= @climb.id %>
</h1>

<hr>

<form action="/update_climb/<%= @climb.id %>" method="post" enctype="multipart/form-data">


  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city, @climb.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <input type="text" id="rating" name="rating" class="form-control" value="<%= @climb.rating %>">
  </div>

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <%= cl_image_tag(@climb.picture.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update climb
  </button>
</form>

<hr>

<a href="/climbs">
  Go back
</a>
