<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Climb #<%= @climb.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/climbs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @climb.user %>
          <a href="/climbs/<%= @climb.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit climb
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @climb.user %>
          <a href="/delete_climb/<%= @climb.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete climb
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @climb.user.present? %>
          <a href="/users/<%= @climb.user_id %>">
            <%= @climb.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @climb.location.present? %>
          <a href="/locations/<%= @climb.location_id %>">
            <%= @climb.location.city %>
          </a>
        <% end %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @climb.rating %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <img src="<%= @climb.picture %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@climb.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@climb.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

